@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-variation-settings: 'width' 75;
}

/* Swiper JS */
.bullet.swiper-pagination-bullet {
    display: inline-block;
    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-height: 16px;
    border-radius: 999px;
    cursor: pointer;
    margin-right: 4px;
    background-color: #fff;
    border: 1px solid #000;
    transition: all 0.3s;
    opacity: 1;
}

.bullet:hover {
    background-color: #000;
}
.bullet.swiper-pagination-bullet-active {
    background-color: #000;
}
/* Scroll bar */
html {
    /* scroll-behavior: smooth; */
    overflow-x: hidden;
    scrollbar-width: thin;
}

/* Custome Nprogress bar */
#nprogress .bar {
    background: #000 !important;
    height: 3px !important;
}
#nprogress .peg {
    box-shadow:
        0 0 10px #000,
        0 0 5px #000 !important;
}

/* Animation */
.hover-text-effect {
    display: inline-block;
    position: relative;
}
.hover-text-effect::before,
.hover-text-effect::after {
    content: '';
    position: absolute;
    top: 100%;
    height: 1px;
    background: #000;
    transition: all 0.3s;
}
.hover-text-effect::before {
    width: 100%;
    right: 0;
}
.hover-text-effect::after {
    width: 0;
    left: 0;
}
.hover-text-effect:hover::before {
    width: 0;
}
.hover-text-effect:hover::after {
    width: 100%;
    transition-delay: 0.3s;
}

@keyframes pulsenew {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(50px);
    }
}

/* Custom tippy js tooltip */
/* .tippy-box {
    background-color: #d10202 !important;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
    border-left-color: #d10202 !important;
} */

/* Reset input number */
input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Fix paypal button z-index */
iframe {
    position: relative !important;
    z-index: 0 !important;
}

/* Icon menu animated */
.menu {
    position: relative;
    height: 24px;
    width: 24px;
    cursor: pointer;
    overflow: hidden;
    margin-left: -6px;
}
.menu__icon {
    position: absolute;
    width: 20px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu__line {
    position: absolute;
    left: 0;
    background-color: #000;
    height: 2px;
    width: 100%;
    border-radius: 3px;
    pointer-events: none;
}
.menu__line--1 {
    top: 0;
}
.menu__line--2 {
    top: 0;
    bottom: 0;
    margin: auto;
}
.menu__line--3 {
    bottom: 0;
}
.menu--close5 .menu__line--4,
.menu--close5 .menu__line--5 {
    opacity: 0;
    top: 8.5px;
    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}
.menu--close5 .menu__line--1 {
    transition: width 0.2s ease-in-out 0.4s;
}
.menu--close5 .menu__line--2 {
    transition: width 0.2s ease-in-out 0.3s;
}
.menu--close5 .menu__line--3 {
    transition: width 0.2s ease-in-out 0.2s;
}
.menu--close5 .menu__line--4 {
    transform: rotate(45deg) translate3d(-30px, 0, 0);
    transition:
        opacity 0.2s ease-in-out 0.2s,
        transform 0.2s ease-in-out 0.2s;
}
.menu--close5 .menu__line--5 {
    transform: rotate(-45deg) translate3d(30px, 0, 0);
    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}
.menu--close5.open .menu__line--1 {
    width: 0;
    transition: width 0.2s ease-in-out;
}
.menu--close5.open .menu__line--2 {
    width: 0;
    transition: width 0.2s ease-in-out 0.1s;
}
.menu--close5.open .menu__line--3 {
    width: 0;
    transition: width 0.2s ease-in-out 0.2s;
}
.menu--close5.open .menu__line--4 {
    opacity: 1;
    transform: rotate(45deg) translate3d(0, 0, 0);
    transition:
        opacity 0.2s ease-in-out 0.2s,
        transform 0.2s ease-in-out 0.2s;
}
.menu--close5.open .menu__line--5 {
    opacity: 1;
    transform: rotate(-45deg) translate3d(0, 0, 0);
    transition:
        opacity 0.2s ease-in-out 0.4s,
        transform 0.2s ease-in-out 0.4s;
}

/* Logo loading */
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: transparent;
    animation: fill 0.5s ease 3.5s forwards;
}

#logo path:nth-child(1) {
    stroke-dasharray: 253;
    stroke-dashoffset: 253;
    animation: line-animate 2s ease forwards 2.1s;
}
#logo path:nth-child(2) {
    stroke-dasharray: 237;
    stroke-dashoffset: 237;
    animation: line-animate 2s ease forwards 1.8s;
}
#logo path:nth-child(3) {
    stroke-dasharray: 265;
    stroke-dashoffset: 265;
    animation: line-animate 2s ease forwards 1.5s;
}
#logo path:nth-child(4) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: line-animate 2s ease forwards 1.2s;
}
#logo path:nth-child(5) {
    stroke-dasharray: 179;
    stroke-dashoffset: 179;
    animation: line-animate 2s ease forwards 0.9s;
}
#logo path:nth-child(6) {
    stroke-dasharray: 251;
    stroke-dashoffset: 251;
    animation: line-animate 2s ease forwards 0.6s;
}
#logo path:nth-child(7) {
    stroke-dasharray: 127;
    stroke-dashoffset: 127;
    animation: line-animate 2s ease forwards 0.3s;
}
#logo path:nth-child(8) {
    stroke-dasharray: 201;
    stroke-dashoffset: 201;
    animation: line-animate 2s ease forwards;
}

@keyframes line-animate {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    to {
        fill: white;
    }
}

/* Spinner animation */
/* ----------------------------------------------
 * Generated by Animista on 2024-7-26 11:59:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
.rotate-in-center {
    -webkit-animation: rotate-in-center 0.8s ease-in-out infinite forwards;
    animation: rotate-in-center 0.8s ease-in-out infinite forwards;
}

@-webkit-keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
