@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-variation-settings: 'width' 75;
}

/* Swiper JS */
.bullet.swiper-pagination-bullet {
    display: inline-block;
    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-height: 16px;
    border-radius: 999px;
    cursor: pointer;
    margin-right: 4px;
    background-color: #fff;
    border: 1px solid #000;
    transition: all 0.3s;
    opacity: 1;
}

.bullet:hover {
    background-color: #000;
}
.bullet.swiper-pagination-bullet-active {
    background-color: #000;
}
/* Scroll bar */
html {
    /* scroll-behavior: smooth; */
    overflow-x: hidden;
    scrollbar-width: thin;
}

/* Custome Nprogress bar */
#nprogress .bar {
    background: #000 !important;
    height: 3px !important;
}
#nprogress .peg {
    box-shadow:
        0 0 10px #000,
        0 0 5px #000 !important;
}

/* Animation */
.hover-text-effect {
    display: inline-block;
    position: relative;
}
.hover-text-effect::before,
.hover-text-effect::after {
    content: '';
    position: absolute;
    top: 100%;
    height: 1px;
    background: #000;
    transition: all 0.3s;
}
.hover-text-effect::before {
    width: 100%;
    right: 0;
}
.hover-text-effect::after {
    width: 0;
    left: 0;
}
.hover-text-effect:hover::before {
    width: 0;
}
.hover-text-effect:hover::after {
    width: 100%;
    transition-delay: 0.3s;
}

@keyframes pulsenew {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(50px);
    }
}

/* Custom tippy js tooltip */
/* .tippy-box {
    background-color: #d10202 !important;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
    border-left-color: #d10202 !important;
} */

/* Reset input number */
input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Menu icon */
.menu--1 path {
    fill: none;
    stroke: #000;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cross label[aria-checked='true'] svg .line--1,
.cross label[aria-checked='true'] svg .line--3 {
    --length: 22.627416998;
}
.cross label[aria-checked='true'] svg .line--2 {
    --length: 0;
}

.menu--1 .line--1,
.menu--1 .line--3 {
    --total-length: 126.64183044433594;
}
.menu--1 .line--2 {
    --total-length: 70;
}
.menu--1 label[aria-checked='true'] svg .line--1,
.menu--1 label[aria-checked='true'] svg .line--3 {
    --offset: -94.1149185097;
}
.menu--1 label[aria-checked='true'] svg .line--2 {
    --offset: -50;
}

.menu-clip-path {
    top: -100%;
    /* clip-path: circle(0 at 0 0); */
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

#menu:checked + .menu-clip-path {
    top: 0%;
    /* clip-path: circle(100%); */
}
#menu:checked
    + .menu-clip-path
    + .menu--1
    > label[aria-checked='true']
    svg
    path {
    stroke: #fff;
}

/* Fix paypal button z-index */
iframe {
    position: relative !important;
    z-index: 0 !important;
}
